:root {
    --main-black: rgb(48, 48, 48);
    --correct: green;
    --present: rgb(248, 212, 8);
    --absent: gray;
    --off-white: rgb(229, 229, 229);
}

/************* Common styles ************/
.hide {
    display: none !important;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "GRAD" 0;
}

h1 {
    color: var(--off-white);
}

main {
    width: 400px;
    height: 500px;
}

.gameboard {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.col {
    border: 2px solid rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: var(--main-black);
}

.correct {
    background-color: var(--correct);
    border: transparent !important;
}

.present {
    background-color: var(--present);
    border: transparent !important;
}

.absent {
    background-color: var(--absent);
    border: transparent !important;
}

.gameoverpopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1000;
}


/*************** ANIMATIONS ***************/
.col.filled {
    animation: pop 0.1s ease-in-out;
    border: 2px solid var(--off-white);
}

.col.flip {
    animation: flip 600ms ease-in-out;
}

/**************** KEYFRAMES ***************/
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}